In [2]:
import pandas as pd

In [3]:
score_df = pd.DataFrame([[1,50,80,70], 
              [2,60,45,50],
              [3,98,43,55],
              [4,70,69,89],
              [5,56,79,60],
              [6,60,68,55],
              [7,45,70,77],
              [8,55,77,76],
              [9,25,57,60],
              [10,88,40,43]],columns=['student_id','math_score','english_score','chinese_score'])
score_df = score_df.set_index('student_id')
score_df

            math_score  english_score  chinese_score
student_id
1                   50             80             70
2                   60             45             50
3                   98             43             55
4                   70             69             89
5                   56             79             60
6                   60             68             55
7                   45             70             77
8                   55             77             76
9                   25             57             60
10                  88             40             43

In [9]:
#1.6號學生(student_id=6)3科平均分數為何?
score_df.mean(index = 6)
#2. 6號學生3科平均分數是否有贏過班上一半的同學
#由於班上同學成績不好，所以學校統一加分，加分方式為開根號乘以十，請問6號同學3科成績分別是?
#承上題，加分後各科班平均變多少

TypeError: mean() got an unexpected keyword argument 'index'